<div class="container mx-auto lg:flex bg-green-50 mt-12 shadow border-2 px-12 py-10 fade-in fade-in-fourth"> 
<div class="w-full lg:flex">
    <div class="w-full lg:w-8/12">
        <h3 class="mb-4 text-6xl">Tap into...</h3>
        <h3 class="mb-4 text-8xl">What matters!</h3>
        
        <p class="mt-8 mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus maxime, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus officia repudiandae commodi placeat ipsam voluptatibus vel veniam ducimus autem, id, minima necessitatibus natus aliquam odit nihil nobis animi quae cumque? <a><em>Read More</em> </em></a></p>
        <a class="mt-16 text-gray-900 px-8 py-3 bg-yellow-500 hover:bg-yellow-600 rounded border border-yellow-600 shadow font-semibold transition duration-500 ease-in-out cursor-pointer" href="signup.html">Get Started</a>
    </div>
    <div class="w-full lg:w-4/12">
        <img class="mb-2" src="img/drawing-music.png" />
    </div>
    <!-- Article Sidebar: End-->
</div>
</div>