<div class="container mx-auto lg:flex pt-16 pb-8 my-8 px-8 fade-in fade-in-fourth"> 
<div class="w-full lg:flex">
    
    <div class="w-full lg:w-6/12">
    <h3 class="uppercase text-3xl mb-16"><strong>recently popular</strong></h3>
    <div class="w-full article__featured">
        <img class="mb-4" src="img/drawing-music.png" />
        <h3 class="mb-4"><strong>Article Author</strong> in <strong>Category</strong></h3>
        <h1 class="mb-2"><strong>lorem ipsum doler sit amet lorem der</strong></h2>
        <p class="mb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus maxime, Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vitae veniam exercitationem, pariatur adipisci optio fugiat dicta blanditiis iure harum, doloremque officia similique itaque maxime. Iste officia vel veritatis ad.</p>
        <h6><em>Read More</em> - <em>6 min read.</em></h6>
    </div>
    </div>
    <!-- Article Sidebar: Start-->
    <div class="w-full lg:w-6/12 lg:px-6 sm:mt-16">
    <div class="w-full article__latest flex mb-4">
        <div class="w-8/12">
        <h3 class=""><img class="w-6 h-6 rounded-full bg-green-500 overflow-hidden inline-block" src="img/drawing-music.png" /> <strong>Article Author</strong> in <strong>Category</strong></h3>
        <h1 class="mt-1 mb-2"><strong>lorem ipsum doler sit amet lorem der</strong></h2>
        <h6><em>Jan 19</em> - <em>8 min read.</em></h6>
        </div>
        <div class="w-4/12"><img class="mb-2 h-52 rounded-lg opacity-80" src="img/day27-my-robot.svg" /></div>
    </div>
    <div class="w-full article__latest flex mb-4">
        <div class="w-8/12">
        <h3 class=""><img class="w-6 h-6 rounded-full bg-green-500 overflow-hidden inline-block" src="img/drawing-music.png" /> <strong>Article Author</strong> in <strong>Category</strong></h3>
        <h1 class="mt-1 mb-2"><strong>lorem ipsum doler sit amet lorem der</strong></h2>
        <h6><em>Jan 19</em> - <em>8 min read.</em></h6>
        </div>
        <div class="w-4/12"><img class="mb-2 h-52 rounded-lg opacity-80" src="img/108-forget-password.svg" /></div>
    </div>
    <div class="w-full article__latest flex mb-4">
        <div class="w-8/12">
        <h3 class=""><img class="w-6 h-6 rounded-full bg-green-500 overflow-hidden inline-block" src="img/drawing-music.png" /> <strong>Article Author</strong> in <strong>Category</strong></h3>
        <h1 class="mt-1 mb-2"><strong>lorem ipsum doler sit amet lorem der</strong></h2>
        <h6><em>Jan 19</em> - <em>8 min read.</em></h6>
        </div>
        <div class="w-4/12"><img class="mb-2  h-52 rounded-lg opacity-80" src="img/115-eiffel-tower.svg" /></div>
    </div>
    <div class="w-full article__latest flex mb-4">
        <div class="w-8/12">
        <h3 class=""><img class="w-6 h-6 rounded-full bg-green-500 overflow-hidden inline-block" src="img/drawing-music.png" /> <strong>Article Author</strong> in <strong>Category</strong></h3>
        <h1 class="mt-1 mb-2"><strong>lorem ipsum doler sit amet lorem der</strong></h2>
        <h6><em>Jan 19</em> - <em>8 min read.</em></h6>
        </div>
        <div class="w-4/12"><img class="mb-2  h-52 rounded-lg opacity-80" src="img/114-retro-tv.svg" /></div>
    </div>
    </div>
    <!-- Article Sidebar: End-->
</div>
</div>